﻿// Sticky footer
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: $footer-height;

    > .container {
        padding-top: 60px;
    }
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    background-color: $footer-bg;
}
