﻿// Bootstrap overrides
$enable-rounded: false;
$enable-print-styles: false;

$body-bg: #101418;
$body-color: #bbb;

$navbar-padding-y: 0.1rem;

// OpenWoW variables
$footer-bg: #202428;
$footer-height: 40px;

$tooltip-bg: #101214;
$tooltip-border: #49525b;
