﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@ViewData["Title"] - OpenWoW.io</title>

        <link rel="stylesheet" asp-href-include="~/dist/openwow.*css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">OpenWoW.io</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                </div>
            </div>
        </nav>

        <main role="main" class="container">
            @RenderBody()
        </main>

        <footer class="footer">
            <div class="container">
                <span>&copy; 2019 OpenWoW.io</span>
                <span>[SiteID = @SiteContext.ActiveSite.Id]</span>
                <span class="float-right">
                    <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                </span>
            </div>
        </footer>

        <script type="text/javascript" asp-src-include="~/dist/openwow.*js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
