﻿@model TooltipSpell

@* Spell header *@
<div class="tooltip-row">
    <h5>@Model.Name</h5>
    @if (!string.IsNullOrWhiteSpace(Model.RankText))
    {
        <div>@Model.RankText</div>
    }
</div>

@* Spell details *@
@foreach (var row in Model.DetailsRows.Where(x => x != null))
{
    <div class="tooltip-row">
        @foreach (var column in row)
        {
            <div>@column</div>
        }
    </div>
}

@* Spell text *@
<p>@Html.Raw(Model.ParsedDescription)</p>
