﻿.tooltip {
    max-width: 350px;
    padding: .5em;
    background: $tooltip-bg;
    color: #efefef;
    border: 1px solid $tooltip-border;
    line-height: 1.3;

    .build {
        font-size: 0.9rem;

        &-old {
            color: #ff0000;
        }

        &-new {
            color: #00ff00;
        }
    }

    h5 {
        margin-bottom: 0.25rem;
    }

    p {
        color: #ffd200;
        margin-bottom: 0;
    }

    .diff-removed {
        background: #7f0000;
        color: #fff;
    }

    .diff-added {
        background: #007f00;
        color: #fff;
    }
}

.tooltip-row {
    display: flex;
    justify-content: space-between;
}
