﻿@model DiffTooltipViewModel

<div id="multi-tooltip" class="multi-tooltip">
    @if (Model.Icon != null)
    {
        <div class="icon">Link to @Model.Icon</div>
    }
    @if (Model.OldTooltip != null)
    {
        <div class="tooltip">
            <div class="build build-old">@Model.OldBuild.Branch build @(Model.OldBuild.Version).@(Model.OldBuild.Build)</div>
            @Html.Raw(@Model.OldTooltip)
        </div>
    }
    @if (Model.NewTooltip != null)
    {
        <div class="tooltip">
            <div class="build build-new">@Model.NewBuild.Branch build @(Model.NewBuild.Version).@(@Model.NewBuild.Build)</div>
            @Html.Raw(Model.NewTooltip)
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript" asp-src-include="~/dist/tooltip.*js"></script>
    <script type="text/javascript">OpenWoW.tooltip.diffMultiTooltip();</script>
}
